<!DOCTYPE html>
<html>
    <head>
        <title>Registration page</title>
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
        <script src="../js/jquery-3.3.1.min.js"></script>
        <script src="../js/popper.min.js"></script>
        <script src="../js/jquery-migrate-1.4.1.min.js"></script>
        <script src="../js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="../css/boxicons.min.css">
         <link rel="stylesheet" type="text/css" href="bootstrap.min.css"> 
         <link rel="stylesheet" type="text/css" href="custom.css"> 
         <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
         <link rel="stylesheet" href="style.css">

         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <?php include 'signup.php';?>
        
    </head>
    <body>
       <div class="container">
        <div class="sidebar">
            <div style="padding-left: 15px;" class="logo-details">
             
                <span class="logo_name">Digital Solutions</span>
            </div>
            <ul class="nav-links">
              <li>
                <a href="#" class="active">
                  <i class='bx bx-grid-alt' ></i>
                  <span class="links_name">Dashboard</span>
                </a>
              </li>
              
                <li>
                  <a href="#">
                    <i class='bx bxs-dish' ></i>
                    <span class="links_name">Order now</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class='bx bx-heart' ></i>
                    <span class="links_name">Favorites</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class='bx bxs-wallet' ></i>
                    <span class="links_name">Expenditure</span>
                  </a>
                </li>
                <li class="log_out">
                  <a href="#">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                  </a>
                </li>
            </ul>  
          </div>   
       
    <section >
    
       
            <header>
           
                <nav>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                        <li><a href="#">Home</a></li>
                        
                        <li class="nav-item dropdown">
                            
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false">My Account 
                                <i class='bx bx-caret-down'></i></a> 
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    
                                    <i class='bx bxs-dish' ></i> <a class="dropdown-item" href="#">My orders</a>
                                  <i class='bx bx-key' ></i> <a class="dropdown-item" href="#">Change Password</a>
                                  <div class="dropdown-divider"></div>
                                  <i class='bx bx-power-off'></i><a class="dropdown-item" href="#">Log out</a>
                                </div>
                            
                
                        </li>
                        <li><a href="#">My Orders</a></li>
                       
                        
                    </ul>
                    </div>
                </nav>
            </div>
        </header>
     </section> 
     </div>
    </body>